  	
/*body{
  background: url("http://wallpapercave.com/wp/QljQ23w.jpg") no-repeat center center fixed;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
	background:	url("http://wallpapercave.com/wp/QljQ23w.jpg");
  		 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  		/*margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;*/
		
}

 caption{
	font-size: 30px;
	font-style: bold;
}
.schedule1{
  position: absolute;
  bottom: 8px;
  left: 10px;
  z-index: 9999;

}
.createteam{
    display: inline;
    position: absolute;
    background-color: #14213D;
    color: #FFF;
    font-family: 'Lucida Sans Unicode';
    font-size: 26px;
    padding: 14px;
    background-image:-webkit-linear-gradient(black, red);
    left: 5%;
    top:5%;
}
.jointeam{
  display: inline;
    position: absolute;
    background-color: #14213D;
    color: #FFF;
    font-family: 'Lucida Sans Unicode';
    font-size: 26px;
    padding: 14px;
    background-image:-webkit-linear-gradient(black, red);
    left: 5%;
    top: 15%;
}
.schedule{
  display: inline;
    position: absolute;
    background-color: #14213D;
    color: #FFF;
    font-family: 'Lucida Sans Unicode';
    font-size: 26px;
    padding: 14px;
    background-image:-webkit-linear-gradient(black, red);
    left: 5%;
    top: 25%;
}
.standing{
  display: inline;
    position: absolute;
    background-color: #14213D;
    color: #FFF;
    font-family: 'Lucida Sans Unicode';
    font-size: 26px;
    padding: 14px;
    background-image:-webkit-linear-gradient(black, red);
    left: 5%;
    top: 35%;
  
}
.team{
    display: inline;
    position: absolute;
    background-color: #14213D;
    color: #FFF;
    font-family: 'Lucida Sans Unicode';
    font-size: 26px;
    padding: 14px;
    background-image:-webkit-linear-gradient(black, red);
    left: 5%;
    top: 45%;
}
.createrequest{
    display: inline;
    position: absolute;
    background-color: #14213D;
    color: #FFF;
    font-family: 'Lucida Sans Unicode';
    font-size: 26px;
    padding: 14px;
    background-image:-webkit-linear-gradient(black, red);
    left: 5%;
    top: 45%;
}
.viewrequest{
    display: inline;
    position: absolute;
    background-color: #14213D;
    color: #FFF;
    font-family: 'Lucida Sans Unicode';
    font-size: 26px;
    padding: 14px;
    background-image:-webkit-linear-gradient(black, red);
    left: 5%;
    top: 45%;
}
table{
	width: 100%;
}
table, th, td{
	border: 1px solid white;
    border-collapse: collapse;
    color:white;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#my_table tr:nth-child(even) {
    background-color: #fff;
}
table#my_table tr:nth-child(odd) {
   background-color: #fff;
}
table#my_table th {
    background-color: white;
    color: black;
}
